.bubblewrap{
list-style-type:none;
margin:0;
padding:0;
}

.bubblewrap li{
display:inline-block;
zoom: 2; /*Trigger haslayout in IE7 and less*/
*display:inline; /*For IE7 and less*/
position:relative;
width: 58px;
height:60px;
}

.bubblewrap li img{
border-style: none;
    border-color: inherit;
    border-width: 0;
    position:absolute;
    width: 55px; /*default width of each image.*/
    height: 60px; /*default height of each image.*/
left:486px;
top:1000px;
}

.bubblewrap .tooltip{ /*CSS for image tooltip (alt attribute of image)*/
position:absolute;
font:bold 12px Arial;
padding:1px;
width:100px;
text-align:center;
background:white;
}